{% extends 'base.html' %}

{% block page_body_main %}
    <div class="main">

        <div>
            <h2>רישום לאתר</h2>
            <form name="myForm" onsubmit="return validateLogInSingUpForm()" method="post">
            <div>
                <label for="fname">שם פרטי</label>
                <input type="text" id="fname" name="firstname" placeholder="השם הפרטי שלך.." required>
                <label for="lname">שם משפחה</label>
                <input type="text" id="lname" name="lastname" placeholder="שם המשפחה שלך.." required>
                <label for="phone">טלפון</label>
                <input type="text" id="phone" name="phone" placeholder="הטלפון שלך.."/>
                <label for="email">אימייל</label>
                <input type="text" id="email" name="email" placeholder="האימייל שלך.." required/>
                <label for="password">סיסמה</label>
                <input type="password" id="password" name="userpassword" placeholder="הסיסמה שלך.." required>
                <input type="submit" value="הרשם">
            </div>
            </form>
            <h2>
                רשום?
                <a href="logIn">התחבר</a>
            </h2>
        </div>
    <div class="messages">
        {{ message }}
    </div>
    </div>
{% endblock %}
