{% block navigation_bar %}
    <nav>
        <ul class="nav">
            <li><a class="navA" href="homepage">ראשי</a></li>
            <li><a class="navA" href="about">אודות</a></li>
            <li><a class="navA" href="services">שירותי מרפאה</a></li>
            <li><a class="navA" href="surgery">ניתוחים</a></li>
            <li><a class="navA" href="Customers_talk">לקוחות מדברים</a></li>
            <li><a class="navA" href="questions">שאלות ותשובות</a></li>
            <li><a class="navA" href="askDoctor">התייעצות עם רופא</a></li>
            <li><a class="navA" href="contactUs">צור קשר</a></li>
        </ul>
    </nav>
{% endblock %}