{% extends 'base.html' %}

{% block page_body_main %}
    <div class="main">
        <div class="images">
            <img src="../../../static/media/images/contact.png">
        </div>
        <div class="mapouter"><iframe width="250" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=%D7%90%D7%95%D7%A0%D7%99%D7%91%D7%A8%D7%A1%D7%99%D7%98%D7%AA%20%D7%91%D7%9F%20%D7%92%D7%95%D7%A8%D7%99%D7%95%D7%9F&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-org.net"></a><br></div>
        <div>
            <h2>השאירו פרטים וניצור איתכם קשר</h2>
            <form name="ContactForm" onsubmit="return validateContactForm()" method="post">
                <div>
                    <label for="fname">שם פרטי</label>
                    <input type="text" id="fname" name="firstname" placeholder="השם שלך.." required>
                    <label for="lname">שם משפחה</label>
                    <input type="text" id="lname" name="lastname" placeholder="שם המשפחה שלך.." required>
                    <label for="phone">טלפון</label>
                    <input type="tel" id="phone" name="phone" placeholder="מספר טלפון שלך..">
                    <label for="email">אימייל</label>
                    <input type="text" id="email" name="email" placeholder="האימייל שלך..">
                    <input type="submit" value="שלח">
                </div>
            </form>
        </div>
    </div>
    <div style="color:green;font-weight:bold;">
        {{ message }}
    </div>
{% endblock %}
